html {
	margin:0;
	padding:0;
	background:#000;
	width:100%;
	height: 100%;
}

#container {
	width:800px;
	height:400px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-400px;
}


/* AMBIGALLERY CSS */
#ambigallery {
	overflow:none;
	display:block;
	width:800px;
	height:400px;
	box-shadow: 0px 0px 75px #000;
	border:5px solid #fff;
	position: relative;
	border:1px solid #ccc;
	z-index:2000;
}

#ambigallery > #ambilight-bgdmask {
	z-index:-1;
	position: absolute;
	top:-200px;
	left:-200px;
	display:block;
	width:1200px;
	height:800px;
}

/* AMBIGALLERY IMAGES */
#ambigallery > img, #ambigallery > #ambilight-images-wrapper > img {
	width:800px;
	height:400px;
	position: absolute;
	top:0;
	left:0;
}

/* AMBIGALLERY MASKS */
#ambigallery > #ambilight-topmask {
	
	width:800px;
	height:20px;
	position: absolute;
	top:-20px;
	left:0;
}

#ambigallery > #ambilight-bottommask {
	
	width:800px;
	height:20px;
	position: absolute;
	bottom:-20px;
	left:0;
}

#ambigallery > #ambilight-leftmask {
	
	width:20px;
	height:400px;
	position: absolute;
	left:-20px;
}

#ambigallery > #ambilight-rightmask {
	
	width:20px;
	height:400px;
	position: absolute;
	right:-20px;
}